Language: Cpp
BasedOnStyle: LLVM

IndentWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 80

AlwaysBreakBeforeMultilineStrings: true
AllowShortFunctionsOnASingleLine: Empty
AlignConsecutiveMacros: true
AlignAfterOpenBracket: AlwaysBreak

StatementMacros:
  [
    "vfunc99",
    "vfuncDefault99",
    "DEF_TEST_PARSE",
    "NAL_HEADER_DERIVE_GETTER",
    "NAL_HEADER_DERIVE_PREDICATE",
    "NAL_HEADER_TEST_GETTER",
  ]
